<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pratice.dao.BoardMapper">
    <select id="select" resultType="com.pratice.dto.BoardDto">
        SELECT bno
         	 , TITLE
         	 , WRITER
         	 , CONTENT 
         	 , VIEW_cnt
         	 , COMMENT_cnt
         	 , REG_DATE
         	 , UP_DATE
          FROM BOARD
         WHERE BNO =#{bno}
    </select>
	
	<select id="countBoard" resultType="com.pratice.dto.BoardDto">
        SELECT count(bno) AS BNO
          FROM BOARD
     </select>
	
	 <select id="boardList" resultType="com.pratice.dto.BoardDto">
        SELECT bno
         	 , TITLE
         	 , WRITER
         	 , VIEW_cnt
         	 , COMMENT_cnt
         	 , DATE_FORMAT(REG_DATE, '%Y%m%d') AS REG_DATE
         	 , UP_DATE
          FROM BOARD
          ORDER BY bno
         LIMIT #{offset}, #{pageSize}
    </select>
    
    <insert id="insertBoard" parameterType="com.pratice.dto.BoardDto">
		INSERT INTO BOARD
		( bno
		, TITLE
		, WRITER
		, content
		, VIEW_cnt
		, COMMENT_cnt
		, REG_DATE
		, UP_DATE )
		SELECT
		  t.bno,
		  #{title},
		  #{writer},
		  #{content},
		  0,
		  0,
		  NOW(),
		  NOW()
		FROM
		  (SELECT COALESCE(MAX(bno), 0) + 1 AS bno FROM BOARD) AS t
    </insert>
    
    
    <update id="updateBoard" parameterType="com.pratice.dto.BoardDto">
    		UPDATE BOARD
    		   SET (TITLE = #{title}
        		 , WRITER = #{writer}
        		 , content = #{content}
        		 , UP_DATE = NOW())
        	 WHERE BNO = #{bno}
    </update>


</mapper>