<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pratice.dao.BoardMapper">
    <select id="select" resultType="com.pratice.dto.BoardDto">
        SELECT A.bno
         	 , A.TITLE
         	 , A.WRITER
         	 , A.CONTENT 
         	 , CASE WHEN A.VIEW_cnt IS NULL THEN '0'
         	   ELSE A.VIEW_CNT
         	   END									as VIEW_CNT
         	 , A.COMMENT_cnt
         	 , A.REG_DATE
         	 , A.UP_DATE
         	 , B.COMMENT							AS COMMENT
         	 , B.REG_DATE							AS COMMENT_REG_DATE
          FROM BOARD A
               LEFT JOIN COMMENT B ON A.BNO = B.BNO
         WHERE A.BNO = #{bno}
           
    </select>
    
     <update id="updateViewCnt" parameterType="int">
    		UPDATE BOARD
    		   SET VIEW_cnt = VIEW_cnt+1
        	 WHERE BNO = #{bno}
    </update>
    
    
    <select id="search" resultType="com.pratice.dto.BoardDto">
		SELECT bno
		     , TITLE
		     , WRITER
		     , CONTENT 
		     , CASE WHEN VIEW_cnt IS NULL THEN '0'
         	   ELSE VIEW_CNT
         	   END									as VIEW_CNT
		     , COMMENT_CNT
		     , REG_DATE
		     , UP_DATE
		FROM BOARD
		WHERE 
		    (#{option} = 'A' AND BNO LIKE CONCAT('%',#{bno},'%'))
		    OR
		    (#{option} = 'T' AND TITLE LIKE CONCAT('%',#{title},'%'))
    </select>
	
	<select id="countBoard" resultType="com.pratice.dto.BoardDto">
        SELECT count(bno) AS BNO
          FROM BOARD
     </select>
	
	 <select id="boardList" resultType="com.pratice.dto.BoardDto">
        SELECT bno
         	 , TITLE
         	 , WRITER
         	 , VIEW_cnt
         	 , COMMENT_cnt
         	 , DATE_FORMAT(REG_DATE, '%Y%m%d') AS REG_DATE
         	 , UP_DATE
          FROM BOARD
          ORDER BY bno DESC
         LIMIT #{offset}, #{pageSize}
    </select>
    
    <insert id="insertBoard" parameterType="com.pratice.dto.BoardDto">
		INSERT INTO BOARD
		( bno
		, TITLE
		, WRITER
		, content
		, VIEW_cnt
		, COMMENT_cnt
		, REG_DATE
		, UP_DATE )
		SELECT
		  t.bno,
		  #{title},
		  #{writer},
		  #{content},
		  0,
		  0,
		  NOW(),
		  NOW()
		FROM
		  (SELECT COALESCE(MAX(bno), 0) + 1 AS bno FROM BOARD) AS t
    </insert>
    
    
    <update id="updateBoard" parameterType="com.pratice.dto.BoardDto">
    		UPDATE BOARD
    		   SET TITLE = #{title}
        		 , WRITER = #{writer}
        		 , content = #{content}
        		 , UP_DATE = NOW()
        	 WHERE BNO = #{bno}
    </update>

    <delete id="deleteBoard" parameterType="com.pratice.dto.BoardDto">
    		DELETE FROM BOARD
    		 WHERE BNO = #{bno}
    </delete>


</mapper>